<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ErpSecurity</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>sign_in.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>signupfilter</filter-name>
    <filter-class>filters.SignUpFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>signupfilter</filter-name>
    <servlet-name>signupservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>signupservlet</servlet-name>
    <servlet-class>servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signupservlet</servlet-name>
    <url-pattern>/signupser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>signinfilter</filter-name>
    <filter-class>filters.SignInFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>signinfilter</filter-name>
    <servlet-name>signinservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>signinservlet</servlet-name>
    <servlet-class>servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signinservlet</servlet-name>
    <url-pattern>/signinser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>cmfilter</filter-name>
    <filter-class>filters.ChangeManagementFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>cmfilter</filter-name>
    <servlet-name>cmservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>cmservlet</servlet-name>
    <servlet-class>servlets.ChangeManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cmservlet</servlet-name>
    <url-pattern>/cmser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>dmfilter</filter-name>
    <filter-class>filters.DomainManagementFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>dmfilter</filter-name>
    <servlet-name>dmservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>dmservlet</servlet-name>
    <servlet-class>servlets.DomainManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dmservlet</servlet-name>
    <url-pattern>/dmser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>imfilter</filter-name>
    <filter-class>filters.IncidentManagementFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>imfilter</filter-name>
    <servlet-name>imservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>imservlet</servlet-name>
    <servlet-class>servlets.IncidentManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imservlet</servlet-name>
    <url-pattern>/imser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sdmfilter</filter-name>
    <filter-class>filters.ServiceDeliveryManagementFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sdmfilter</filter-name>
    <servlet-name>sdmservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>sdmservlet</servlet-name>
    <servlet-class>servlets.ServiceDeliveryManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdmservlet</servlet-name>
    <url-pattern>/sdmser</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sdmrfilter</filter-name>
    <filter-class>filters.ServiceDeliveryManagerRatingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sdmrfilter</filter-name>
    <servlet-name>sdmrservlet</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>sdmrservlet</servlet-name>
    <servlet-class>servlets.ServiceDeliveryManagerRatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdmrservlet</servlet-name>
    <url-pattern>/sdmrser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sdmcrservlet</servlet-name>
    <servlet-class>servlets.ServiceDeliveryManagerCloudRetrievalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdmcrservlet</servlet-name>
    <url-pattern>/sdmcrser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sdmbcservlet</servlet-name>
    <servlet-class>servlets.ServiceDeliveryManagerBellCurveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdmbcservlet</servlet-name>
    <url-pattern>/sdmbcser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sdmcbservlet</servlet-name>
    <servlet-class>servlets.ServiceDeliveryManagerCloudBackupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sdmcbservlet</servlet-name>
    <url-pattern>/sdmcbser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutser</url-pattern>
  </servlet-mapping>
</web-app>